.OverView {
  width: 80%;
  margin: 10px auto;
  display: grid;
  grid-template-columns: 65% 5% 30%;
  grid-template-rows: auto auto auto auto;
  align-items: "center";
  justify-content: "center";
}

.ImageGallery {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 4;
  position: relative;
}

.ProductionInfo {
  grid-column-start: 3;
  grid-row-start: 1;
  grid-row-end: 2;
}

.StyleSelector{
  grid-column-start: 3;
  grid-row-start: 2;
  grid-row-end: 3;
}

.AddToCart{
  grid-column-start: 3;
  grid-row-start: 3;
  grid-row-end: 4;
}

.ProductOverview {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 4;
  border-right: dotted gray 6px;
}

.Features {
  grid-column-start: 3;
  grid-row-start: 4;
}

.thumbnail {
  position: absolute;
  z-index: 10;
  top: 50px;
}

.imageModal {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;;
  z-index: 20;
}

.imageModal-content {
  width: 95%;
  height: 100%;
  background-color: white;
}

.imageModal-header {
  position: relative;
}

.imageModal-body {
  text-align: center;
}

.gallery {
  position: relative;
}

.rightArrow {
  position: absolute;
  top: 250px;
  left: 350px;
}

.leftArrow {
  position: absolute;
  top: 250px;
  left: 25px;
}

.rightArrowExp {
  position: absolute;
  top: 50%;
  right: 20%;
}

.leftArrowExp {
  position: absolute;
  top: 50%;
  left: 20%;
}