@media screen and (min-width: 1921px) {
  .OverView {
    width: 80%;
    margin: 10px auto;
    display: grid;
    grid-template-columns: 65% 5% 30%;
    grid-template-rows: auto auto auto auto;
    align-items: "center";
    justify-content: "center";
  }

  .ImageGallery {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 4;
  }

  .ImageCarousel {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .ProductionInfo {
    grid-column-start: 3;
    grid-row-start: 1;
    grid-row-end: 2;
  }

  .StyleSelector {
    grid-column-start: 3;
    grid-row-start: 2;
    grid-row-end: 3;
  }

  .styleSelectorImg {
    position: relative;
  }

  .checkMark {
    position: absolute;
    right: 10%;
    z-index: 10;
  }

  .AddToCart {
    grid-column-start: 3;
    grid-row-start: 3;
    grid-row-end: 4;
  }

  .ProductOverview {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 4;
    text-align: center;
    border-right: dotted gray 6px;
  }

  .Features {
    grid-column-start: 3;
    grid-row-start: 4;
  }

  .thumbnail {
    position: absolute;
    z-index: 10;
    top: 50px;
    left: 30%;
  }

  .ExpThumbnail {
    position: absolute;
    left:20%;
    z-index: 10;
  }

  .imageModal {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;;
    z-index: 20;
  }

  .imageModal-content {
    width: 100%;
    height: 100%;
    background-color: darkgray;
  }

  .imageModal-header {
    position: relative;
  }

  .imageModal-body {
    text-align: center;
  }

  .gallery {
    position: relative;
  }

  .rightArrow {
    position: absolute;
    top: 250px;
    left: 345px;
  }

  .leftArrow {
    position: absolute;
    top: 250px;
    left: 40px;
  }

  .rightArrowExp {
    position: absolute;
    top: 50%;
    right: 15%;
  }

  .leftArrowExp {
    position: absolute;
    top: 50%;
    left: 15%;
  }

  .Tooltip-Wrapper {
    display: inline-block;
    position: relative;
  }

  .Tooltip-Tip {
    position: absolute;
    border-radius: 4px;
    border-color: black;
    left: 50%;
    transform: translateX(-50%);
    padding: 6px;
    color: black;
    background: white;
    z-index: 100;
    white-space: nowrap;
  }

  .Tooltip-Tip::before {
    content: " ";
    left: 50%;
    border: solid transparent;
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-width: 6px;
    margin-left: -6px;
  }

  .Tooltip-Tip.right {
    border: solid black;
    left: calc(100% + 10px);
    top: 50%;
    transform: translateX(0) translateY(-50%);
  }

  .Tooltip-Tip.right::before {
    left: -6px;
    top: 50%;
    transform: translateX(0) translateY(-50%);
    border-right-color: black;
  }

  .linkToReviews:visited {
    color: black;
  }

  .linkToReviews {
    color: black;
  }

  .reactIcon:hover {
    transform: scale(1.5);
  }
}